@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f7f7f7;
  color: #1f2937;
  line-height: 1.6;
}

a {
  text-decoration: none;
}
